:root {
  --primary-color: #6366f1;
  --secondary-color: #EFF2FC; /* 200 */
  --gradient-color: linear-gradient(0deg,
                  rgba(99,102,241,0.1) 0%,
                  rgba(218,70,239,0.05) 42%,
                  rgba(241,244,253,0.07) 83%);

  --white-color: #fff;
  --background-color: #F3F6FF; /* 100 */
  --div-border-color: #E2E5F1; /* 300 */
  --forms-border-color: #D4D7E5; /* 400 */
  --input-placeholder-color: #B4B7C9; /* 500 */
  --muted-text-color: #9397AD; /* 600 */
  --body-text-color: #565973; /* 700 */
  --navigation-color: #33354D; /* 800 */
  --heading-color: #0B0F19; /* 900 */

  --error-color: #EF4444;
  --success-color: #22C55E;
  --warning-color: #FFBA08;
  --info-color: #4C82F7;

  /* darkmode colors */
  --dm-iconbox-color: #12162a;
  --dm-transparent70-color: #ffffffb3;
  --dm-transparent24-color: #ffffff3d;
  --dm-transparent18-color: #ffffff2e;
  --dm-transparent05-color: #ffffff0d;
  --dm-brand-background-color: #151822;
  --dm-input-background-color: #191d27;
  --dm-feedback-background-color: #1e212b;

  --container-padding: 1rem;
}