@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  $primary-color: #6366f1;
  $secondary-color: #EFF2FC;
  $gradient-color: #D946EF;

  $background-color: #F3F6FF;
  $div-border-color: #E2E5F1;
  $forms-border-color: #D4D7E5;
  $input-placeholder-color: #B4B7C9;
  $muted-text-color: #9397AD;
  $body-text-color: #565973;
  $navigation-color: #33354D;
  $heading-color: #0B0F19;

  $error-color: #EF4444;
  $success-color: #22C55E;
  $warning-color: #FFBA08;
  $info-color: #4C82F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}