<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Alpha Portal</title>
  <script type="importmap"></script>
  <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <script defer src="~/js/site.js" asp-append-version="true"></script>
</head>
<body class="secondary-background">

  @RenderBody()

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
