@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

:root {
  --font-standard: "Nunito", sans-serif;
  --font-logo: "Comfortaa", sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  --font-size-irregular: 15px;
  --font-size-medium: 14px;
  --font-size-small: 11px;

  --size-tablet: 768px;
  --size-desktop: 1400px;

  --transition-speed: 200ms;

  --color-white: #ffffff;

  --color-gray-100: #f5f7fa;
  --color-gray-200: #f1f3f7;
  --color-gray-300: #f0f1f5;
  --color-gray-400: #ebeef2;
  --color-gray-500: #e8eaed;
  --color-gray-600: #e3e5e8;
  --color-gray-700: #dedede;
  --color-gray-800: #c6c8cc;
  --color-gray-900: #9e9e9e;
  --color-gray-1000: #637085;

  --color-dark: #151517;

  --color-dark-100: #1a1926;
  --color-dark-100-20: #1a192633;
  --color-dark-200: #141516;
  --color-dark-250: #1c1d1f;
  --color-dark-300: #202123;
  --color-dark-350: #232324;
  --color-dark-400: #28263b;
  --color-dark-450: #282829;
  --color-dark-500: #333333;
  --color-dark-600: #383838;
  --color-dark-700: #9e9e9e;

  --color-yellow: #ffd422;
  --color-yellow-dark: #fcbb42;
  --color-yellow-10: #fcbb421a;
  --color-orange: #ff9640;
  --color-orange-dark: #f09330;
  --color-red: #ff6640;
  --color-red-dark: #e94d3f;
  --color-red-10: #e94d3f1a;
  --color-green: #31d482;
  --color-green-dark: #24b26b;
  --color-blue: #2cd9d9;
  --color-blue-accent: #2d99ff;
  --color-blue-accent-10: #2e9aff1a;
  --color-blue-dark: #2d7dcc;
  --color-blue-dark-accent: #2682d9;
  --color-purple: #826af9;
  --color-purple-dark: #634cd4;

  --color-surface: var(--color-gray-200);
  --color-surface-white: var(--color-white);

  --color-heading: var(--color-dark-100);
  --color-text: var(--color-dark-400);
  --color-border: var(--color-gray-600);
  --color-background-primary: var(--color-gray-200);
  --color-background-secondary: var(--color-gray-400);

  --color-text-btn-blue: var(--color-white);
  --color-border-btn-blue: var(--color-white);
  --color-background-btn-blue: var(--color-blue-accent);
  --color-background-hover-btn-blue: var(--color-blue-dark-accent);

  --color-text-btn-gray: var(--color-dark-100);
  --color-border-btn-gray: var(--color-gray-100);
  --color-background-btn-gray: var(--color-gray-200);
  --color-background-hover-btn-gray: var(--color-gray-300);

  --color-background-btn-white: var(--color-gray-100);
  --color-background-hover-btn: var(--color-white);

  --color-text-navlink: var(--color-text);
  --color-text-navlink-hover: var(--color-blue-accent);
  --color-text-navlink-active: var(--color-blue-accent);

  --color-background-navlink: transparent;
  --color-background-navlink-hover: var(--color-blue-accent-10);
  --color-background-navlink-active: var(--color-blue-accent-10);

  --color-border-input: var(--color-gray-400);
  --color-border-checkbox-input: var(--color-gray-700);
  --color-text-input: var(--color-gray-1000);
  --color-caret-input: var(--color-dark-100);
  --color-placeholder-input: var(--color-gray-1000);
  --color-border-selection-input: var(--color-gray-700);

  --color-background-menu: var(--color-white);
  --color-border-menu-divider: var(--color-gray-200);
  --color-btn-menu-hover: var(--color-gray-300);
  --color-btn-notification-menu-hover: var(--color-gray-300);
  --color-btn-member-card: var(--color-gray-100);

  --color-background-title: var(--color-gray-300);
  --color-background-profile: var(--color-gray-100);
  --color-background-timer: var(--color-gray-300);
  --color-overlay: var(--color-dark-100-20);
  --color-text-card: var(--color-dark-400);

  --color-border-surface-input: var(--color-gray-200);
  --color-border-surface-input-hover: var(--color-gray-400);

  --color-btn-form-hover: var(--color-gray-100);
  --color-background-form-member: var(--color-gray-100);
  --color-scrollbar: var(--color-dark-700);
  --color-background-darkmode-switch: var(--color-gray-500);
}

[data-theme="dark"] {
  color-scheme: dark;

  &:root {
    --color-surface: var(--color-dark-250); /* Edited */
    --color-surface-white: var(--color-dark-300); /* Edited */

    --color-heading: var(--color-gray-100); /* Edited */
    --color-text: var(--color-white); /* Edited */
    --color-border: var(--color-dark-350);
    --color-background-primary: var(--color-dark); /* Edited */
    --color-background-secondary: var(--color-dark-200); /* Edited */
  
    --color-text-btn-blue: var(--color-white);
    --color-border-btn-blue: var(--color-dark); /* Edited */
    --color-background-btn-blue: var(--color-blue-accent);
    --color-background-hover-btn-blue: var(--color-blue-dark-accent);
  
    --color-text-btn-gray: var(--color-dark-100);
    --color-border-btn-gray: var(--color-gray-100);
    --color-background-btn-gray: var(--color-gray-200);
    --color-background-hover-btn-gray: var(--color-gray-800); /* Edited */
  
    --color-background-btn-white: var(--color-gray-100);
    --color-background-hover-btn: var(--color-dark-300); /* Edited */
  
    --color-text-navlink: var(--color-text);
    --color-text-navlink-hover: var(--color-blue-accent);
    --color-text-navlink-active: var(--color-blue-accent);
  
    --color-background-navlink: transparent;
    --color-background-navlink-hover: var(--color-blue-accent-10);
    --color-background-navlink-active: var(--color-blue-accent-10);
  
    --color-border-input: var(--color-dark-300); /* Edited */
    --color-border-checkbox-input: var(--color-gray-700);
    --color-text-input: var(--color-gray-1000);
    --color-caret-input: var(--color-white); /* Edited */
    --color-placeholder-input: var(--color-gray-900); /* Edited */
    --color-border-selection-input: var(--color-dark-500); /* Edited */

    --color-background-menu: var(--color-dark-250); /* Edited */
    --color-border-menu-divider: var(--color-dark-350); /* Edited */
    --color-btn-menu-hover: var(--color-dark-300); /* Edited */
    --color-btn-notification-menu-hover: var(--color-dark-250); /* Edited */
    --color-btn-member-card: var(--color-dark-300); /* Edited */
  
    --color-background-title: var(--color-dark-200); /* Edited */
    --color-background-profile: var(--color-dark-300); /* Edited */
    --color-background-timer: var(--color-dark-100); /* Edited */
    --color-overlay: var(--color-dark-100-20);
    --color-text-card: var(--color-gray-800); /* Edited */

    --color-border-surface-input: var(--color-dark-450);  /* Edited */
    --color-border-surface-input-hover: var(--color-dark-500);  /* Edited */

    --color-btn-form-hover: var(--color-dark-450); /* Edited */
    --color-background-form-member: var(--color-dark-450); /* Edited */
    --color-scrollbar: var(--color-dark-700);
    --color-background-darkmode-switch: var(--color-blue-accent); /* Edited */
  }

  img.invert-when-dark {
    filter: invert(1) !important;
  }

  .nav-links {
    .hover {
      opacity: 0;
      visibility: hidden;
    }

    .nav-link:hover {
      .default {
        opacity: 0;
      }

      .hover-dark {
        opacity: 1;
      }
    }
  
    .nav-link.active {
      .default {
        opacity: 0;
      }

      .hover-dark {
        opacity: 1;
      }
    }
  }

  /*
  *,
  *::before,
  *::after {
    box-shadow: none !important;
  }
  */
}

/* Structure */

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;

  ::-webkit-scrollbar {
    width: 1px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar);
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 1rem;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
}

html,
body {
  color: var(--color-text);
  background-color: var(--color-background-primary);
  font-family: var(--font-standard);
  font-weight: var(--font-regular);
  font-size: 16px;
  font-style: normal;
  margin: 0;
  padding: 0;

  &.no-scroll {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.secondary-background {
  background-color: var(--color-background-secondary);
}

.surface {
  background-color: var(--color-surface);
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 6rem 6rem 1.8rem 6rem;
  overflow-y: auto;
  max-height: 95dvh;
}

.container {
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden !important;
  display: none !important;
}

.menu {
  z-index: 999;
}

.field-validation-error {
  font-size: var(--font-size-irregular);
  color: var(--color-red);
}

.no-theme-transition * {
  transition: none !important;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.member-select-container {
  width: 100%;
}

/* Typography */

h1 {
  font-size: 36px;
  font-weight: var(--font-bold);
}

h2 {
  font-size: 32px;
  font-weight: var(--font-bold);
}

h3 {
  font-size: 28px;
  font-weight: var(--font-bold);
}

h4 {
  font-size: 24px;
  font-weight: var(--font-semibold);
}

h5 {
  font-size: 20px;
  font-weight: var(--font-semibold);
}

h6 {
  font-size: 18px;
  font-weight: var(--font-semibold);
}

/* Input/Labels/Spans */

label {
  font-size: var(--font-size-irregular);
  font-weight: var(--font-bold);
}

span {
  font-family: var(--font-standard);
  font-size: var(--font-size-irregular);
  font-weight: var(--font-regular);
}

input {
  background-color: inherit;
  font-family: inherit;
  font-size: var(--font-size-irregular);
  color: var(--color-text);
  caret-color: var(--color-caret-input);
  border: 1px solid var(--color-border-input);
  border-radius: 16px;
  width: 400px;
  height: 50px;
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 3rem;
  outline: none;

  &::placeholder {
    color: var(--color-placeholder-input);
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  transition: border var(--transition-speed) ease-in-out;

  &:focus {
    border-color: var(--color-border-selection-input);
    border-width: 1px;
  }
}

input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--color-border-checkbox-input);
  background-color: var(--color-text-btn-blue);
  transition: all var(--transition-speed) ease-in-out;

  &:checked {
    background-color: var(--color-blue-accent);
    border-color: var(--color-blue-accent);
  }
}

input[type="date"] {
  width: 100%;
  min-width: 0;
  padding-right: 1rem;
  appearance: none;
  transition: border-color var(--transition-speed) ease-in-out;

  &:focus {
    border-color: var(--color-border-selection-input);
    border-width: 1px;
  }
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea {
  background-color: inherit;
  font-family: inherit;
  font-size: var(--font-size-irregular);
  color: var(--color-text);
  caret-color: var(--color-caret-input);
  border: 1px solid var(--color-border-surface-input);
  border-radius: 16px;
  width: 100% !important;
  height: 170px !important;
  padding: 1rem;
  resize: none;
  outline: none;
  transition: border var(--transition-speed) ease-in-out;

  &:focus {
    border-color: var(--color-border-selection-input);
    border-width: 1px;
  }

  &::placeholder {
    color: var(--color-placeholder-input);
  }
}

.input-label {
  padding-bottom: .5rem;
  padding-top: 1.5rem;
}

.password-input {
  position: relative;
  transition: opacity var(--transition-speed) ease-in-out;

  .btn {
    position: absolute;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  i {
    color: var(--color-text);
  }
}

/* Buttons */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-standard);
  font-weight: var(--font-semibold);
  font-size: .9em;
  border-radius: 14px;
  border-style: solid;
  border-width: 1px;
  padding: 0.7rem 1.5rem;
  position: relative;
  cursor: pointer;
  transition: background-color var(--transition-speed) ease-in-out;

  img {
    position: absolute;
    left: 1rem;
  }
}

.btn-blue {
  color: var(--color-text-btn-blue);
  border-color: var(--color-border-btn-blue);
  background-color: var(--color-background-btn-blue);
  box-shadow: 0px 4px 10px 0 rgba(45, 153, 255, 0.3);

  &:hover {
    color: var(--color-text-btn-blue);
    border-color: var(--color-border-btn-blue);
    background-color: var(--color-background-hover-btn-blue);
  }
}

.btn-gray {
  color: var(--color-text-btn-gray);
  border-color: var(--color-border-btn-gray);
  background-color: var(--color-background-btn-gray);

  &:hover {
    background-color: var(--color-background-hover-btn-gray);
  }
}

.btn-white {
  color: var(--color-text-btn-gray);
  border-color: var(--color-border-btn-gray);
  background-color: var(--color-background-btn-white);

  &:hover {
    background-color: var(--color-background-hover-btn-gray);
  }
}

/* Links */

a {
  color: var(--color-blue-accent);
  font-size: var(--font-size-irregular);
  text-decoration: none;
  position: relative;
  transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

.nav-link {
  font-family: var(--font-standard);
  font-weight: var(--font-semibold);
  font-size: var(--font-size-irregular);
}

.tab-link {
  font-family: var(--font-standard);
  font-weight: var(--font-bold);
  font-size: var(--font-size-irregular);
}

/* Components */

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
  margin-left: auto;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background-darkmode-switch);
    -webkit-transition: var(--transition-speed);
    transition: var(--transition-speed);

    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: var(--transition-speed);
      transition: var(--transition-speed);
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  &.active .slider {
    background-color: var(--color-blue-accent);
  }
  
  &.active .slider:before {
    -webkit-transform: translateX(19.5px);
    -ms-transform: translateX(19.5px);
    transform: translateX(19.5px);
  }
}

.alpha-logotype {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    font-size: 26px;
    font-weight: var(--font-black);
    font-family: var(--font-logo);
    color: var(--color-text);
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

.nav-links {
  .nav-link {
    color: var(--color-text-navlink);
    background-color: var(--color-background-navlink);
    text-decoration: none;
    border-radius: 16px;  
    padding: 1rem 1rem 1rem 3.5rem;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2px;
    position: relative;

    img {
      transition: opacity var(--transition-speed) ease-in-out;
      position: absolute;
      left: 17px;
    }

    span {
      font-weight: var(--font-semibold);
    }

    .clients-icon {
      left: 21px;
    }
  }

  .default {
    opacity: 1;
  }

  .hover {
    opacity: 0;
  }

  .hover-dark {
    opacity: 0;
  }

  .nav-link:hover {
    color: var(--color-text-navlink-hover);
    background-color: var(--color-background-navlink-hover);

    .default {
      opacity: 0;
    }
  
    .hover {
      opacity: 1;
    }
  }

  .nav-link.active {
    color: var(--color-text-navlink-active);
    background-color: var(--color-background-navlink-active);

    .default {
      opacity: 0;
    }
  
    .hover {
      opacity: 1;
    }
  }
}

.remember-password,
.terms-and-conditions {
  justify-content: space-between;
  margin: 1rem 0;
  position: relative;

  label {
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: var(--color-text-btn-blue);
  }

  span {
    font-weight: var(--font-regular);
  }
}

.sign-up {
  gap: .3rem;
  margin-top: 3.2rem;

  label {
    font-weight: var(--font-semibold);
  }
}

.or-divider {
  width: auto;
  height: 1px;
  border-bottom: 1px solid var(--color-border-input);
  margin: 3rem 0 .5rem 0;
  position: relative;

  div {
    position: absolute;
    background-color: var(--color-surface);
    width: 50px;
    height: 50px;
  }

  span {
    color: var(--color-placeholder-input);
    font-size: 12px;
    cursor: default;
  }
}

.horizontal-divider {
  width: auto;
  height: 1px;
  margin-top: 1px;
  border-bottom: 1px solid var(--color-background-profile);
}

.vertical-divider {
  width: 5px;
  height: 1.5rem;
  margin-right: 1rem;
  border-right: 1px solid var(--color-border);
}

.settings-menu {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-background-menu);
  border-radius: 14px;
  padding: .5rem;
  width: 300px;
  height: 200px;
  right: 110px;
  top: 65px;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);

  .flex {
    justify-content: start;
    gap: 1rem;
  }

  .settings-profile {
    background-color: var(--color-background-profile);
    width: auto;
    height: 64px;
    border-radius: 14px;
    padding: .8rem;
    margin-bottom: 10px;

    .profile-picture {
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }

    span {
      font-weight: var(--font-semibold);
    }
  }

  img {
    position: initial;
    width: 20px;
    height: 20px;
  }

  span {
    color: var(--color-text);
  }

  .btn {
    height: 50px;
    width: 100%;
  }

  .btn:hover {
    background-color: var(--color-btn-menu-hover) !important;
  }
}

.notification-menu {
  position: absolute;
  display: grid;
  grid-template-rows: min-content min-content auto;
  background-color: var(--color-background-menu);
  border-radius: 14px;
  padding: .5rem;
  width: 380px;
  height: auto;
  right: 157px;
  top: 65px;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);

  .flex {
    justify-content: space-between;
  }

  .no-notifications {
    color: var(--color-placeholder-input);
    justify-self: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
  }

  .notification-dot {
    background-color: var(--color-red);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    margin-right: 1rem;

    .notification-counter {
      font-size: var(--font-size-small);
      color: var(--color-white);
    }
  }

  .notification-container {
    overflow-y: auto;
    max-height: 248px;
    margin-top: 10px;
    display: grid;
    gap: 10px;

    .notification-card {
      background-color: var(--color-background-profile);
      width: auto;
      height: 76px;
      border-radius: 14px;
      padding: 10px 14px 10px 10px;
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      justify-content: start;
      align-items: center;
      gap: 1rem;

      span {
        font-size: var(--font-size-medium);
        color: var(--color-placeholder-input);
        font-weight: var(--font-medium);
      }

      img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      h3 {
        font-size: var(--font-size-irregular);
        font-weight: var(--font-medium);
        margin: 0;
      }
    }
  }

  h2 {
    font-size: 20px;
    font-weight: var(--font-semibold);
    padding: .7rem 0 .7rem 1rem;
    margin: 0;
  }

  i {
    color: var(--color-text);
  }

  .btn {
    justify-self: flex-end;
    font-size: 18px;
    width: 40px;
    height: 40px;
  }

  .btn:hover {
    background-color: var(--color-btn-notification-menu-hover) !important;
  }
}

.card-div {
  background-color: var(--color-background-profile);
  width: auto;
  height: 76px;
  border-radius: 14px;
  padding: 10px;
  margin-top: 10px;

  &.flex {
    justify-content: start;
    gap: 1rem;
  }

  h3 {
    font-size: var(--font-size-irregular);
    font-weight: var(--font-medium);
    margin: 0;
  }

  img {
    width: 56px;
    height: 56px;
    border-radius: 14px;
    object-fit: cover;
    object-position: center;
  }

  span {
    font-size: var(--font-size-medium);
    color: var(--color-placeholder-input);
    font-weight: var(--font-medium);
  }

  div {
    min-width: 176px;
    width: 210px;
  }
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-overlay);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 1rem;

  .surface {
    background-color: var(--color-surface-white);
    width: 550px;
    padding: 2rem;

    .title {
      justify-content: space-between;
    }

    .btn {
      background-color: inherit;
      border: none;
      width: 40px;
      height: 40px;
      padding: 0;
      align-self: flex-start;

      &:hover {
        background-color: var(--color-border-btn-gray);
      }

      i {
        font-size: 24px;
        color: var(--color-text);
      }
    }

    .btn-blue {
      color: var(--color-text-btn-blue);
      border-color: var(--color-border-btn-blue);
      background-color: var(--color-background-btn-blue);
      box-shadow: 0px 4px 10px 0 rgba(45, 153, 255, 0.3);
      width: 100%;
      height: 48px;
      margin-top: 2rem;

      &:hover {
        color: var(--color-text-btn-blue);
        border-color: var(--color-border-btn-blue);
        background-color: var(--color-background-hover-btn-blue);
      }
    }

    .flex {
      gap: 2rem;
      justify-content: space-between;
    }

    .image-upload {
      width: 150px;
      height: 150px;
      border-radius: 30px;
      position: relative;
      align-self: initial;
      margin-top: 3rem;
      margin-bottom: 1rem;
      left: 50%;
      transform: translate(-50%);
      opacity: 1;
      transition: opacity var(--transition-speed) ease-in-out, background-color var(--transition-speed) ease-in-out;

      .image-upload-icon {
        position: absolute;
        left: initial;
      }

      .image-upload-border {
        position: initial;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }

      .edit-icon {
        position: absolute;
        left: initial;
        bottom: .5rem;
        border-radius: 50%;
      }

      &:hover {
        opacity: .8;
      }
    }

    h2 {
      margin: 0;
    }

    input {
      width: 100%;
      position: relative;
      border-color: var(--color-border-surface-input);

      &:focus {
        border-color: var(--color-border-selection-input);
      }
    }

    input[type="date"] {
      width: 228px;
      cursor: pointer;

      &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }

      &::-moz-focus-inner {
        border: 0;
      }
    }

    .input-container {
      position: relative;

      img {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }

    .input-container-budget {
      position: relative;

      img {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }

      input {
        padding-left: 2.8rem;
      }
    }

    .member-wrapper {
      background-color: inherit;
      position: absolute;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      overflow-x: auto;
      overflow-y: hidden;
      width: calc(100% - 3rem);
      height: 36px;
      transform: translateY(-50%);
      top: 50%;
      left: .5rem;
      gap: 4px;
      z-index: 3;
      pointer-events: none;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
      
      .member-item {
        background-color: var(--color-background-form-member);
        display: inline-flex;
        white-space: nowrap;
        border-radius: 8px;
        padding: .5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        height: 36px;
        gap: .5rem;
        pointer-events: auto;

        .profile-picture {
          position: initial;
          transform: none;
          width: 22px;
          height: 22px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
        }

        i {
          font-size: 12px;
        }

        .btn {
          width: 22px;
          height: 22px;
        }
      }
    }

    .member-form {
      .image-upload {
        border-radius: 50%;

        .image-upload-border {
          border-radius: 50%;
        }
      }

      .dob-inputs {
        input {
          padding-right: 1rem;

          &::placeholder {
            color: var(--color-text);
          }
        }
      }

      .btn:hover {
        background-color: var(--color-btn-form-hover);
      }

      .btn-blue:hover {
        background-color: var(--color-background-hover-btn-blue);
      }
    }

    .project-form {
      .dob-inputs {
        input {
          padding-right: 1rem;

          &::placeholder {
            color: var(--color-text);
          }
        }
      }

      .image-upload-border {
        border-radius: 30px;
      }

      .btn:hover {
        background-color: var(--color-btn-form-hover);
      }

      .btn-blue:hover {
        background-color: var(--color-background-hover-btn-blue);
      }
    }
  }
}

.client-list {
  background-color: var(--color-background-primary);
  border-radius: 16px;
  padding: 0;
  margin: 0;

  .client-item {
    background-color: var(--color-surface);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto minmax(150px, 300px) minmax(150px, 300px) minmax(150px, 1fr) auto auto;
    align-items: center;
    gap: 1rem;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
    justify-content: start;
    position: relative;

    .btn {
      color: var(--color-placeholder-input);
      background-color: inherit;
      font-size: 5px;
      border: none;
      width: 40px;
      height: 40px;
      padding: 0;
      gap: 4px;
      align-self: flex-start;

      &:hover {
        background-color: var(--color-background-hover-btn);
      }

      &.active {
        background-color: var(--color-background-hover-btn);
      }
    }
    
    .btn-white {
      color: inherit;
      background-color: inherit;
      font-size: inherit;
      width: auto;
      padding: 1rem;
    }

    .profile-picture {
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }

    .client-name {
      font-weight: var(--font-bold);
    }

    .card-menu {
      position: absolute;
      width: 230px;
      height: auto;
      padding: .5rem;
      border-radius: 14px;
      background-color: var(--color-background-hover-btn);
      box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);
      right: 16px;
      top: 60px;

      .flex {
        gap: 1rem;
      }

      .btn {
        justify-content: start;
        width: 100%;
        height: 48px;
        padding: 1rem;

        &:hover {
          background-color: var(--color-btn-notification-menu-hover);
        }
      }

      #delete-text {
        color: var(--color-red);
      }

      span {
        color: var(--color-text);
        font-weight: var(--font-medium);
      }

      img {
        position: initial;
        justify-self: initial;
        width: initial;
        height: initial;
      }

      .horizontal-divider {
        border-color: var(--color-border-menu-divider);
        margin: 2px 0 2px 0;
      }
    }
  }
}

.dropdown-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: inherit;
  font-family: inherit;
  font-size: var(--font-size-irregular);
  color: var(--color-text);
  caret-color: var(--color-caret-input);
  border: 1px solid var(--color-border-surface-input);
  border-radius: 16px;
  width: 100%;
  height: 50px;
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 3rem;
  outline: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: border-color var(--transition-speed) ease-in-out;

  option {
    background-color: var(--color-background-menu);
    color: var(--color-text);
    border-color: var(--color-border-surface-input-hover);
    border-radius: 8px;
  }

  &:focus {
    border-color: var(--color-border-selection-input);
    border-width: 1px;
  }
}

.dropdown-icon {
  color: var(--color-text);
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 2;
}

.cookie-icon {
  color: burlywood;
  font-size: 30px;
}

.cookie-consent-text {
  color: var(--color-text-card);
}

.btn-external-login {
  width: 100%;
}

/* Sections */

.portal {
  display: grid;
  grid-template-columns: minmax(50px, 270px) 1fr;
  grid-template-rows: minmax(80px, auto) 1fr;
  grid-template-areas: "logo top"
                       "side main";
  height: 100dvh;

  .alpha-logotype {
    grid-area: logo;
    margin: 1.5rem 1.5rem 1.5rem 1.75rem;
  }

  .side {
    grid-area: side;
    padding: 0 1rem;
  }

  .top {
    grid-area: top;
    border-left: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    position: relative;

    .nav-bar {
      display: flex;
      align-items: center;
      gap: .5rem;

      .profile-picture {
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }
    }

    .search-bar {
      flex-grow: 1;
      width: 80px;
      min-width: 80px;
      height: 40px;
      border: none;
      padding: 0;
      margin-left: .5rem;
    }

    .btn {
      border: none;
      background-color: var(--color-background-navlink);
      padding: 1rem;

      &:hover {
        background-color: var(--color-background-hover-btn);
      }

      &.active {
        background-color: var(--color-background-hover-btn);
      }
    }

    .nav-button {
      width: 40px;
      height: 40px;

      img {
        position: initial;
      }
    }
  }

  .main {
    grid-area: main;
    padding: 2rem;
    border-left: 1px solid var(--color-border);

    .nav-main {
      justify-content: start;
      gap: 2rem;
      padding-bottom: .8rem;

      a {
        text-decoration: none;
      }

      span {
        color: var(--color-placeholder-input);
        font-weight: var(--font-bold);
        padding-bottom: .8rem;
        transition: color var(--transition-speed) ease-in-out, border var(--transition-speed) ease-in-out;

        &:hover {
          color: var(--color-text-navlink-hover);
          border-bottom: 3px solid var(--color-text-navlink-hover);
        }

        &.active {
          color: var(--color-text-navlink-hover);
          border-bottom: 3px solid var(--color-text-navlink-hover);
        }
      }
    }

    .title-div {
      justify-content: space-between;
      margin-bottom: 2rem;

      .btn {
        font-weight: var(--font-regular);

        i {
          width: 15px;
          height: 13px;
        }
      }
    }

    h2 {
      margin: 0;
    }

    .horizontal-divider {
      margin-bottom: 2rem;
      border-color: var(--color-border);
    }

    .project-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, 350px);
      gap: 2rem;
      justify-content: center;
      grid-auto-rows: 280px;
    }

    .member-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, 300px);
      gap: 2rem;
      justify-content: center;
      grid-auto-rows: 460px;
    }

    .project-card {
      display: grid;
      background-color: var(--color-surface);
      grid-template-rows: min-content auto min-content;
      width: 350px;
      height: 280px;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      padding: 1.6rem;
      position: relative;

      p {
        color: var(--color-text-card);
      }

      .card-div {
        margin: 0;
        padding: 0;
        height: 56px;
        background-color: inherit;
      }

      .card-timer {
        background-color: var(--color-background-timer);
        width: 115px;
        height: 35px;
        gap: .5rem;
        border-radius: 10px;

        span {
          font-size: var(--font-size-medium);
        }
      }

      .timer-red {
        color: var(--color-red-dark);
        background-color: var(--color-red-10);

        .fa-clock{
          color: var(--color-red-dark);
        }
      }

      .timer-yellow {
        color: var(--color-yellow-dark);
        background-color: var(--color-yellow-10);

        .fa-clock{
          color: var(--color-yellow-dark);
        }
      }

      .project-card-footer {
        justify-content: space-between;
        align-items: center;

        .flex {
          gap: .5rem;
        }

        .profile-picture {
          width: 30px;
          height: 30px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
        }
      }

      .btn {
        color: var(--color-placeholder-input);
        background-color: inherit;
        font-size: 5px;
        border: none;
        width: 40px;
        height: 40px;
        padding: 0;
        gap: 4px;
        align-self: flex-start;

        &:hover {
          background-color: var(--color-background-hover-btn);
        }

        &.active {
          background-color: var(--color-background-hover-btn);
        }
      }

      .card-menu {
        position: absolute;
        width: 230px;
        height: auto;
        padding: .5rem;
        border-radius: 14px;
        background-color: var(--color-background-hover-btn);
        box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);
        right: 28px;
        top: 71px;

        .flex {
          gap: 1rem;
        }

        .btn {
          justify-content: start;
          width: 100%;
          height: 48px;
          padding: 1rem;

          &:hover {
            background-color: var(--color-btn-notification-menu-hover);
          }
        }

        #delete-text {
          color: var(--color-red);
        }

        span {
          color: var(--color-text);
          font-weight: var(--font-medium);
        }

        img {
          position: initial;
        }

        .horizontal-divider {
          border-color: var(--color-border-menu-divider);
          margin: 2px 0 2px 0;
        }
      }

      .card-title {
        min-width: 170px;
        width: auto;
      }

      h3 {
        font-size: 18px;
        font-weight: var(--font-semibold);
      }

      p {
        font-size: var(--font-size-irregular);
      }
    }

    .member-card {
      display: grid;
      background-color: var(--color-surface);
      grid-template-rows: min-content auto auto auto min-content;
      width: 300px;
      height: 460px;
      box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      padding: 1.6rem;
      position: relative;

      .profile-picture {
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }

      .card-div {
        background-color: inherit;
        justify-content: end;
        margin: 0;
        padding: 0;
        height: 40px;
      }

      .btn {
        color: var(--color-placeholder-input);
        background-color: inherit;
        font-size: 5px;
        border: none;
        width: 40px;
        height: 40px;
        padding: 0;
        gap: 4px;
        align-self: flex-start;

        &:hover {
          background-color: var(--color-background-hover-btn);
        }

        &.active {
          background-color: var(--color-background-hover-btn);
        }
      }

      .btn-white {
        color: var(--color-text);
        background-color: var(--color-btn-member-card);
        font-size: var(--font-size-irregular);
        width: auto;
        height: 48px;
        margin-top: .5rem;

        &:hover {
          background-color: var(--color-background-secondary);
        }
      }

      .card-menu {
        position: absolute;
        width: 230px;
        height: auto;
        padding: .5rem;
        border-radius: 14px;
        background-color: var(--color-background-hover-btn);
        box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);
        right: 28px;
        top: 70px;

        .flex {
          gap: 1rem;
        }

        .btn {
          justify-content: start;
          width: 100%;
          height: 48px;
          padding: 1rem;

          &:hover {
            background-color: var(--color-btn-notification-menu-hover);
          }
        }

        #delete-text {
          color: var(--color-red);
        }

        span {
          color: var(--color-text);
          font-weight: var(--font-medium);
        }

        img {
          position: initial;
          justify-self: initial;
          width: initial;
          height: initial;
        }

        .horizontal-divider {
          border-color: var(--color-border-menu-divider);
          margin: 2px 0 2px 0;
        }
      }

      .card-title {
        h2 {
          font-size: 24px;
          font-weight: var(--font-semibold);
          margin: 0;
        }

        span {
          font-size: 12px;
          padding: .5rem;
          margin-top: .5rem;
          background-color: var(--color-background-title);
          border-radius: 8px;
        }
      }

      .contact-info {
        flex-direction: column;

        span {
          color: var(--color-text-card);
          padding-bottom: .5rem;
        }
      }

      h3 {
        font-size: 18px;
        font-weight: var(--font-semibold);
      }

      p {
        font-size: var(--font-size-irregular);
      }

      img {
        position: initial;
        justify-self: center;
        width: 150px;
        height: 150px;
      }
    }
  }
}

/* Media Queries */

@media (max-width: 700px) {
  .portal {
    grid-template-columns: 5.5rem 1fr;

    .side {
      width: auto;
      padding-right: 0;
  
      span {
        display: none;
        visibility: hidden;
      }

      .nav-link {
        padding: 0;
        width: 56px;
      }
    }
  
    .alpha-logotype {
      width: 33px;
      height: 33px;
      display: block;
      
      span {
        display: none;
        visibility: hidden;
      }
    }
  }
}