@using WebApp.Models
@{
  ViewData["Title"] = "Projects";
}

<div class="title-div flex">
  <h2>
    @ViewData["Title"]
  </h2>
  <button class="btn btn-blue" data-toggle="add-overlay">
    <i class="fa-regular fa-plus"></i>
    Add Project
  </button>
</div>

@await Html.PartialAsync("Partials/Components/_AddProjectForm", new AddProjectViewModel())
@await Html.PartialAsync("Partials/Components/_EditProjectForm", new EditProjectViewModel())

<div class="nav-main flex">
  <a href="#">
    <span>ALL [0]</span>
  </a>
  <a href="#">
    <span>STARTED [0]</span>
  </a>
  <a href="#">
    <span>COMPLETED [0]</span>
  </a>
</div>

<div class="horizontal-divider"></div>

<div class="project-container">
  @await Html.PartialAsync("Partials/Components/_ProjectCard")
</div>