#brands {
  display: none;
  padding-top: 3rem;
  padding-bottom: 4rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  #brand-5,
  #brand-6 {
  display: none;
  }

  .brand-box {
    border: 1px solid var(--div-border-color);
    border-radius: 8px;
    height: 100px;
    width: 200px;
  }
}

@media(min-width: 768px) {
  #brands {
    display: flex;
  }
}

@media(min-width: 1400px) {
  #brands {
    padding-top: 5rem;
    padding-bottom: 7rem;

    #brand-5,
    #brand-6 {
      display: flex;
    }
  }
}