#faq {
  .title {
    text-align: center;
    padding: 0 2rem 1rem 2rem;
  }

  .description {
    text-align: center;
    padding: 0 2rem 3rem 2rem;
  }

  .list {
    list-style: none;
    border: 2px solid var(--background-color);
    border-radius: 8px;

    :not(:last-child) {
      border-bottom: 2px solid var(--background-color);
    }

    .list-item {
      .grid {
        grid-template-columns: 1fr auto;
        justify-content: space-between;
      }

      h3 {
        padding: 1rem 1.4rem 1rem 1.4rem;
        font-size: 16px;
      }

      p {
        padding: 1rem 1.4rem 1rem 1.4rem;
        font-size: 14px;
      }
    }

    .btn-faq {
      color: var(--heading-color);
      background-color: var(--background-color);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      font-size: 13px;
    }

    #btn-faq-1 {
      color: var(--white-color);
      background-color: var(--primary-color);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      font-size: 13px;
    }
  }

  .container {
    padding: 3rem 1rem 3rem 1rem;
  }

  .btn-contact {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 14px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    margin-top: 3rem;
  }

  .btn-contact:hover {
    background-color: var(--heading-color);
  }

  .contact-box {
    display: none;
  }
}

@media(min-width: 768px) {
  #faq {
    .title {
      font-size: 20px;
      padding: 0 12rem 2rem 12rem;
    }
  
    .description {
      padding: 0 10rem 3rem 10rem;
    }

    .list {
      border: none;
  
      :not(:last-child) {
        border-bottom: none;
      }

      .list-item {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-bottom: 1rem;
      }
    }

    .contact {
      padding: 1rem 0 1rem 0;
      gap: 1.5rem;
    }

    .btn-contact {
      display: none;
    }

    .container {
      padding: 3rem 1rem 1rem 1rem;
    }

    .contact-box {
      display: block;
      width: 345px;
      height: 165px;
      border: 1px solid var(--div-border-color);
      border-radius: 8px;

      .contact-items {
        padding: 1.5rem 0 0 1.5rem;
      }

      .contact-item {
        padding-bottom: 0.5rem;
      }

      p {
        font-size: 14px;
      }

      span {
        font-size: 14px;
        font-weight: 600;
        padding-right: 0.5rem;
      }

      .fa-arrow-right {
        font-size: 13px;
      }

      #btn-contact-2 {
        span,
        .fa-arrow-right {
          color: var(--success-color);
        }
      }
    }
  }
}

@media(min-width: 1400px) {
  #faq {
    .title {
      text-align: left;
      padding: 0 18rem 2rem 0;
    }

    .description {
      font-size: 18px;
      text-align: left;
      padding: 0 10rem 3rem 0;
    }

    .container {
      display: grid;
      grid-template-columns: 45% 55%;
      grid-template-rows: auto auto;
      padding: 7rem 1rem 6rem 1rem;
    }

    .contact-box {
      width: 200px;
    }

    .text-box {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }

    .list-box {
      grid-column: 2 / 1;
      grid-row: 1 / 2;
    }

    .contact {
      justify-content: start;
      align-items: start;
      padding-top: 13rem;
      grid-column: 1 / 1;
      grid-row: 1 / 1; 

      p {
        padding-bottom: 0.4rem;
      }
    }
  }
}