#how-it-works {
  background-color: var(--background-color);

  .grid {
    grid-template-columns: 1fr;
  }

  .desktop-text {
    display: none;
  }

  .desktop-image {
    display: none;
  }

  .tablet-image {
    display: none;
  }

  .mobile-image {
    padding: 2rem 3rem 0 3rem;
  }

  .description {
    text-align: center;
    padding: 0 1rem 3rem 1rem;
  }

  .title {
    text-align: center;
    padding-top: 4rem;
    font-size: 18px;
  }

  h3 {
    text-align: center;
    padding: 2rem 4rem 0.5rem 4rem;
    font-size: 20px;
    font-weight: 800;
  }
}

@media(min-width: 768px) {
  #how-it-works {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      padding-top: 3rem;
    }

    .title {
      font-size: 22px;
    }

    .description {
      padding-bottom: 5rem;
    }

    .mobile-image {
      padding: 0 0 0 0;
    }

    .tablet-image {
      display: block;
    }

    .container {
      padding: 0 4rem 0 4rem;
    }

    h3 {
      font-size: 22px;
    }
  }
}

@media(min-width: 1400px) {
  #how-it-works {
    .title {
      font-size: 26px;
      padding-top: 5rem;
    }

    .desktop-image {
      display: block;
      padding: 0 3rem 0 3rem;
    }

    .tablet-image,
    .mobile-image {
      display: none;
    }

    .desktop-text {
      display: block;
    }

    .mobile-text {
      display: none;
    }

    .description {
      padding: 0 18rem 6rem 18rem;
    }

    .container {
      padding: 0 2rem 0 2rem;
    }

    h3 {
      font-size: 24px;
    }
  }
}