@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --primary-color: #6366f1;
  --secondary-color: #EFF2FC; /* 200 */
  --gradient-color: #D946EF;

  --background-color: #F3F6FF; /* 100 */
  --div-border-color: #E2E5F1; /* 300 */
  --forms-border-color: #D4D7E5; /* 400 */
  --input-placeholder-color: #B4B7C9; /* 500 */
  --muted-text-color: #9397AD; /* 600 */
  --body-text-color: #565973; /* 700 */
  --navigation-color: #33354D; /* 800 */
  --heading-color: #0B0F19; /* 900 */

  --error-color: #EF4444;
  --success-color: #22C55E;
  --warning-color: #FFBA08;
  --info-color: #4C82F7;

  --container-padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--body-text-color);
  background-color: var(--background-color);

  h1,
  h2 {
    color: var(--heading-color);
    font-weight: 800;
  }

  h3 {
    color: var(--heading-color);
    font-weight: 600;
  }

  p {
    line-height: 28px;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  max-width: 390px;
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-mobile {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: var(--navigation-color);
}

.btn-toggle-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-toggle-switch .label {
  color: var(--body-text-color);
  font-weight: 600;
  text-decoration: none;
  display: none;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.toggle-switch input {
  opacity: 0;
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

.toggle-switch input:checked + .slider {
  background-color: var(--primary-color);
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(18px);
  background-color: var(--secondary-color);
}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--muted-text-color);
  transition: all .2s;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.5px;
  background-color: var(--secondary-color);
  transition: all .2s;
}

.toggle-switch .slider.round {
  border-radius: 35px;
}

.toggle-switch .slider.round:before {
  border-radius: 50%;
}

.navbar {
  display: none;
}

.nav-link {
  color: var(--navigation-color);
  font-weight: 600;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link:active {
  text-decoration: underline;
}

header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#auth-signin {
  display: none;
}

#auth-signin:hover {
  background-color: var(--input-placeholder-color);
}

footer {
  font-size: 14px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--muted-text-color);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .credit {
    display: none;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

#hero {
  background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);

  .title {
    grid-area: title;
    text-align: center;
    font-size: 24px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .description {
    text-align: center;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .grid {
    grid-template-areas: "title"
                         "content";
  }

  .br {
    display: inline;
  }

  .content {
    grid-area: content;
  }

  #downloads {
    flex-direction: column;
  }

  .btn-download {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: var(--heading-color);
    border: none;
  }

  .btn-download:hover{
    background-color: var(--primary-color);
  }

  .btn-discover-more {
    color: var(--heading-color);
    background-color: var(--background-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .btn-discover-more:hover {
    background-color: var(--input-placeholder-color);
  }

  #discover-more {
    color: var(--body-text-color);
    gap: 1.5rem;
    padding: 1rem 0 2rem 0;
  }

  .images {
    grid-area: images;
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
  }

  .container {
    gap: 2rem;
  }
}

#brands {
  display: none;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

#brand-5,
#brand-6 {
  display: none;
}

.brand-box {
  border: 1px solid var(--div-border-color);
  border-radius: 8px;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width: 768px) {
  #hero {
    .title {
      font-size: 30px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .description {
      text-align: left;
    }

    .grid {
      grid-template-columns: 40% 60%;
      grid-template-areas: "title title"
                           "content images";
    }

    .br {
      display: block;
    }

    .btn-download {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .images {
      display: block;

      .img-back {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 140px;
        width: 60%;
        height: auto;
      }
    
      .img-front {
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
        width: 60%;
        height: auto;
      }
    }

    #discover-more {
      justify-content: flex-start;
    }
  }

  .container {
    max-width: 720px;
  }

  .btn-toggle-switch .label {
    display: block;
  }

  header .container {
    gap: 2.8rem;
  }

  footer {
    .credit {
      display: block;
    }
  }

  #brands {
    display: flex;
  }
}

@media(min-width: 1400px) {
  #hero {
    .title {
      font-size: 36px;
      margin-top: 6rem;
      margin-bottom: 0;
      padding-bottom: 0;
      text-align: left;
    }

    .description {
      padding-top: 0;
      padding-bottom: 3rem;
    }

    .grid {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "title images"
                           "content images";
    }

    .img-back {
      left: 34px;
    }

    #discover-more {
      padding: 12rem 0 4rem 0;
    }

    .btn-download {
      width: auto;
      margin-right: 1rem;
    }

    #downloads {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .container {
    max-width: 1320px;
  }

  .navbar {
    display: block;
  }

  .btn-mobile {
    display: none;
  }

  header .container {
    grid-template-columns: auto 1fr auto auto;
    gap: 3rem;
  }

  #auth-signin {
    display: block;
  }

  #brand-5,
  #brand-6 {
    display: flex;
  }
}