@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --primary-color: #6366f1;
  --secondary-color: #EFF2FC; /* 200 */
  --gradient-color: #D946EF;

  --background-color: #F3F6FF; /* 100 */
  --div-border-color: #E2E5F1; /* 300 */
  --forms-border-color: #D4D7E5; /* 400 */
  --input-placeholder-color: #B4B7C9; /* 500 */
  --muted-text-color: #9397AD; /* 600 */
  --body-text-color: #565973; /* 700 */
  --navigation-color: #33354D; /* 800 */
  --heading-color: #0B0F19; /* 900 */

  --error-color: #EF4444;
  --success-color: #22C55E;
  --warning-color: #FFBA08;
  --info-color: #4C82F7;

  --container-padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-mobile {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: var(--navigation-color);
}

.btn-toggle-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-toggle-switch .label {
  color: var(--body-text-color);
  font-weight: 600;
  text-decoration: none;
  display: none;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.toggle-switch input {
  opacity: 0;
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

.toggle-switch input:checked + .slider {
  background-color: var(--primary-color);
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(18px);
  background-color: var(--secondary-color);
}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--muted-text-color);
  transition: all .2s;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.5px;
  background-color: var(--secondary-color);
  transition: all .2s;
}

.toggle-switch .slider.round {
  border-radius: 35px;
}

.toggle-switch .slider.round:before {
  border-radius: 50%;
}

.navbar {
  display: none;
}

.nav-link {
  color: var(--navigation-color);
  font-weight: 600;
}
.nav-link:hover {
  color: var(--primary-color);
}

.nav-link:active {
  text-decoration: underline;
}

header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#auth-signin {
  display: none;
}

footer {
  font-size: 14px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--muted-text-color);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .credit {
    display: none;
  }
}

#brands {
  display: none;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

#brand-5,
#brand-6 {
  display: none;
}

.brand-box {
  border: 1px solid var(--div-border-color);
  border-radius: 8px;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .btn-toggle-switch .label {
    display: block;
  }

  header .container {
    gap: 2.8rem;
  }

  footer {
    .credit {
      display: block;
    }
  }

  #brands {
    display: flex;
  }
}



@media(min-width: 1400px) {
  .container {
    max-width: 1320px;
  }

  .navbar {
    display: block;
  }

  .btn-mobile {
    display: none;
  }

  header .container {
    grid-template-columns: auto 1fr auto auto;
    gap: 3rem;
  }

  #auth-signin {
    display: block;
  }

  #brand-5,
  #brand-6 {
    display: flex;
  }
}