@{
  ViewData["Title"] = "Team Members";
}

<div class="title-div flex">
  <h2>
    @ViewData["Title"]
  </h2>
  <button class="btn btn-blue" data-toggle="add-overlay">
    <i class="fa-regular fa-plus"></i>
    Add Member
  </button>
</div>

<div class="member-container">
  @await Html.PartialAsync("Partials/Components/_MemberCard")
</div>

@await Html.PartialAsync("Partials/Components/_AddMemberForm")
@await Html.PartialAsync("Partials/Components/_EditMemberForm")