@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --primary-color: #6366f1;
  --secondary-color: #EFF2FC; /* 200 */
  --gradient-color: linear-gradient(0deg,
                  rgba(99,102,241,0.1) 0%,
                  rgba(218,70,239,0.05) 42%,
                  rgba(241,244,253,0.07) 83%);
  --white-color: #fff;
  --background-color: #F3F6FF; /* 100 */
  --div-border-color: #E2E5F1; /* 300 */
  --forms-border-color: #D4D7E5; /* 400 */
  --input-placeholder-color: #B4B7C9; /* 500 */
  --muted-text-color: #9397AD; /* 600 */
  --body-text-color: #565973; /* 700 */
  --navigation-color: #33354D; /* 800 */
  --heading-color: #0B0F19; /* 900 */
  --error-color: #EF4444;
  --success-color: #22C55E;
  --warning-color: #FFBA08;
  --info-color: #4C82F7;
  /* darkmode colors */
  --dm-iconbox-color: #12162a;
  --dm-transparent70-color: #ffffffb3;
  --dm-transparent24-color: #ffffff3d;
  --dm-transparent18-color: #ffffff2e;
  --dm-transparent05-color: #ffffff0d;
  --dm-brand-background-color: #151822;
  --dm-input-background-color: #191d27;
  --dm-feedback-background-color: #1e212b;
  --container-padding: 1rem;
}

.dark {
  color-scheme: dark;
  --white-color: #0B0F19;
  --background-color: #151822;
  --secondary-color: #565973;
  --div-border-color: #9397AD;
  --forms-border-color: #B4B7C9;
  --input-placeholder-color: #D4D7E5;
  --muted-text-color: #E2E5F1;
  --body-text-color: #EFF2FC;
  --navigation-color: #F3F6FF;
  --heading-color: #fff;
}
.dark #auth-signin {
  color: var(--heading-color);
}
.dark .icon-box {
  background-color: var(--dm-iconbox-color);
}
.dark #darkmode-toggle-switch .label {
  color: var(--dm-transparent24-color);
}
.dark #darkmode-toggle-switch .round::before {
  background-color: var(--heading-color);
}
.dark .nav-link {
  color: var(--dm-transparent70-color);
}
.dark body p {
  color: var(--dm-transparent70-color);
}
.dark body .darkmode {
  display: block;
}
.dark body .lightmode {
  display: none;
}
.dark #hero span {
  color: var(--dm-transparent70-color);
}
.dark #hero .btn-discover-more {
  background-color: var(--dm-transparent05-color);
}
.dark #brands .brand-box {
  color: var(--dm-transparent18-color);
  background-color: var(--dm-brand-background-color);
  border-color: var(--dm-transparent18-color);
}
.dark #learn-more .list {
  color: var(--dm-transparent70-color);
}
.dark #learn-more .btn-learn-more {
  color: var(--heading-color);
}
.dark #feedback .quote {
  color: var(--heading-color);
}
.dark #feedback .feedback-box {
  background-color: var(--dm-feedback-background-color);
}
.dark #feedback .feedback-box .fa-regular {
  color: var(--dm-transparent70-color);
}
.dark #feedback .feedback-box span {
  color: var(--dm-transparent70-color);
}
.dark #faq .contact-box {
  border-color: var(--dm-transparent18-color);
}
.dark #faq .btn-contact {
  color: var(--heading-color);
}
.dark #faq .list {
  background-color: var(--background-color);
  border-color: var(--dm-feedback-background-color);
  border-radius: 8px;
}
.dark #faq .list .list-item {
  border-color: var(--dm-feedback-background-color);
}
@media (min-width: 768px) {
  .dark #faq .list li:first-child {
    border: 1px solid var(--dm-transparent18-color);
  }
}
.dark #faq .list .btn-faq {
  background-color: var(--dm-feedback-background-color);
}
.dark #faq .list #btn-faq-1 {
  color: var(--heading-color);
}
.dark #newsletter .part-2 {
  background-color: var(--dm-input-background-color);
  border-color: var(--dm-transparent18-color);
}
.dark #newsletter .part-2 .fa-envelope {
  color: var(--dm-transparent24-color);
}
.dark #newsletter .part-2 input {
  color: var(--heading-color);
}
.dark #newsletter .part-2 input::-moz-placeholder {
  color: var(--dm-transparent24-color);
}
.dark #newsletter .part-2 input::placeholder {
  color: var(--dm-transparent24-color);
}
.dark #newsletter .part-2 #email {
  background-color: var(--dm-input-background-color);
}
.dark #newsletter .part-2 span {
  color: var(--heading-color);
}

@media (min-width: 768px) {
  .dark #faq .list {
    background-color: var(--white-color);
  }
  .dark #faq .list .list-item {
    background-color: var(--background-color);
  }
}
.container {
  max-width: 390px;
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.icon-box {
  background-color: var(--background-color);
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.images {
  width: 100%;
  height: 100%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

@media (prefers-reduced-motion: np-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  color-scheme: light;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: var(--white-color);
  color: var(--body-text-color);
}
body h1,
body h2 {
  color: var(--heading-color);
  font-weight: 800;
}
body h3 {
  color: var(--heading-color);
  font-weight: 600;
}
body p {
  line-height: 28px;
}
body .darkmode {
  display: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-mobile {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: var(--navigation-color);
}

.btn-toggle-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-toggle-switch .label {
  color: var(--body-text-color);
  font-weight: 600;
  text-decoration: none;
  display: none;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.toggle-switch input {
  opacity: 0;
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

.toggle-switch input:checked + .slider {
  background-color: var(--primary-color);
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(18px);
  background-color: var(--secondary-color);
}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--muted-text-color);
  transition: all 0.2s;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.5px;
  background-color: var(--secondary-color);
  transition: all 0.2s;
}

.toggle-switch .slider.round {
  border-radius: 35px;
}

.toggle-switch .slider.round:before {
  border-radius: 50%;
}

.navbar {
  display: none;
}

.nav-link {
  color: var(--navigation-color);
  font-weight: 600;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link:active {
  text-decoration: underline;
}

header {
  position: relative;
  background: transparent;
  z-index: 2;
  margin-bottom: -80px;
}

header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#auth-signin {
  display: none;
}

#auth-signin:hover {
  background-color: var(--input-placeholder-color);
}

footer {
  font-size: 14px;
  padding: 1rem 0 1rem 0;
  color: var(--muted-text-color);
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
footer .credit {
  display: none;
}

#app-features .title {
  font-size: 20px;
  margin-top: 2rem;
}
#app-features .description {
  margin-bottom: 2rem;
  font-size: 18px;
  text-align: center;
}
#app-features .images {
  display: none;
}
#app-features .icon-box {
  margin-right: 1.5rem;
}
#app-features #inner-grid {
  justify-items: start;
  align-items: start;
  grid-template-columns: 1fr;
  gap: 2rem;
}
#app-features #inner-grid .grid {
  grid-template-columns: 1fr 3fr;
}
#app-features .features-box {
  justify-items: start;
  align-items: start;
  margin-right: 1rem;
  margin-left: 1rem;
}
#app-features .features-box .description {
  line-height: 24px;
}
#app-features .features-box h3 {
  font-size: 20px;
  margin-bottom: 0.5rem;
}
#app-features .features-box p {
  line-height: 24px;
}
#app-features .content {
  margin-bottom: 3rem;
}
#app-features .title {
  margin-bottom: 1rem;
}
#app-features h3 {
  font-weight: 800;
}

@media (min-width: 768px) {
  #app-features .title {
    font-size: 24px;
    margin-top: 0;
  }
  #app-features .content {
    margin-bottom: 3rem;
  }
  #app-features .features-box {
    margin-left: 2rem;
  }
  #app-features #inner-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  #app-features .title {
    font-size: 26px;
    display: block;
    justify-items: start;
    align-items: start;
  }
  #app-features .description {
    display: block;
    text-align: left;
    margin-bottom: 4rem;
  }
  #app-features .features-box {
    margin-left: 0;
  }
  #app-features .images {
    display: block;
  }
  #app-features .grid {
    grid-template-columns: 45% 55%;
  }
  #app-features #inner-grid {
    gap: 2.5rem;
  }
  #app-features .container {
    padding-bottom: 6rem;
  }
}
#brands {
  display: none;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
#brands .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#brands #brand-5,
#brands #brand-6 {
  display: none;
}
#brands .brand-box {
  border: 1px solid var(--div-border-color);
  border-radius: 8px;
  height: 100px;
  width: 200px;
}

@media (min-width: 768px) {
  #brands {
    display: flex;
  }
}
@media (min-width: 1400px) {
  #brands {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }
  #brands #brand-5,
  #brands #brand-6 {
    display: flex;
  }
}
#faq .title {
  text-align: center;
  padding: 0 2rem 1rem 2rem;
}
#faq .description {
  text-align: center;
  padding: 0 2rem 3rem 2rem;
}
#faq .list {
  list-style: none;
  border: 2px solid var(--background-color);
  border-radius: 8px;
}
#faq .list :not(:last-child) {
  border-bottom: 2px solid var(--background-color);
}
#faq .list .list-item .grid {
  grid-template-columns: 1fr auto;
  justify-content: space-between;
}
#faq .list .list-item h3 {
  padding: 1rem 1.4rem 1rem 1.4rem;
  font-size: 16px;
}
#faq .list .list-item p {
  padding: 1rem 1.4rem 1rem 1.4rem;
  font-size: 14px;
}
#faq .list .btn-faq {
  color: var(--heading-color);
  background-color: var(--background-color);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 13px;
}
#faq .list #btn-faq-1 {
  color: var(--white-color);
  background-color: var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 13px;
}
#faq .container {
  padding: 3rem 1rem 3rem 1rem;
}
#faq .btn-contact {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 14px;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  margin-top: 3rem;
}
#faq .btn-contact:hover {
  background-color: var(--heading-color);
}
#faq .contact-box {
  display: none;
}

@media (min-width: 768px) {
  #faq .title {
    font-size: 20px;
    padding: 0 12rem 2rem 12rem;
  }
  #faq .description {
    padding: 0 10rem 3rem 10rem;
  }
  #faq .list {
    border: none;
  }
  #faq .list :not(:last-child) {
    border-bottom: none;
  }
  #faq .list .list-item {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  #faq .contact {
    padding: 1rem 0 1rem 0;
    gap: 1.5rem;
  }
  #faq .btn-contact {
    display: none;
  }
  #faq .container {
    padding: 3rem 1rem 1rem 1rem;
  }
  #faq .contact-box {
    display: block;
    width: 345px;
    height: 165px;
    border: 1px solid var(--div-border-color);
    border-radius: 8px;
  }
  #faq .contact-box .contact-items {
    padding: 1.5rem 0 0 1.5rem;
  }
  #faq .contact-box .contact-item {
    padding-bottom: 0.5rem;
  }
  #faq .contact-box p {
    font-size: 14px;
  }
  #faq .contact-box span {
    font-size: 14px;
    font-weight: 600;
    padding-right: 0.5rem;
  }
  #faq .contact-box .fa-arrow-right {
    font-size: 13px;
  }
  #faq .contact-box #btn-contact-2 span,
  #faq .contact-box #btn-contact-2 .fa-arrow-right {
    color: var(--success-color);
  }
}
@media (min-width: 1400px) {
  #faq .title {
    text-align: left;
    padding: 0 18rem 2rem 0;
  }
  #faq .description {
    font-size: 18px;
    text-align: left;
    padding: 0 10rem 3rem 0;
  }
  #faq .container {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto auto;
    padding: 7rem 1rem 6rem 1rem;
  }
  #faq .contact-box {
    width: 200px;
  }
  #faq .text-box {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  #faq .list-box {
    grid-column: 2/1;
    grid-row: 1/2;
  }
  #faq .contact {
    justify-content: start;
    align-items: start;
    padding-top: 13rem;
    grid-column: 1/1;
    grid-row: 1/1;
  }
  #faq .contact p {
    padding-bottom: 0.4rem;
  }
}
#feedback {
  display: none;
}

@media (min-width: 1400px) {
  #feedback {
    background-color: var(--background-color);
    display: block;
  }
  #feedback .title {
    font-size: 38px;
  }
  #feedback .grid {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  #feedback .container {
    padding: 5rem 0 7rem 0;
  }
  #feedback .quote {
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    font-size: 22px;
    width: 45px;
    height: 45px;
    border-radius: 6px;
    margin-left: 40px;
  }
  #feedback .feedback-box {
    background-color: var(--white-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 420px;
    height: 330px;
    border-radius: 8px;
    margin: 1.8rem 0.8rem 0 0.8rem;
  }
  #feedback .feedback-box .rating {
    padding: 3rem 0 0 1.5rem;
  }
  #feedback .feedback-box .fa-star {
    font-size: 13px;
  }
  #feedback .feedback-box .fa-solid {
    color: var(--warning-color);
  }
  #feedback .feedback-box .fa-regular {
    color: var(--input-placeholder-color);
  }
  #feedback .feedback-box .description {
    font-size: 18px;
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  #feedback .feedback-box .grid {
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: 1.5rem 0 0 1.5rem;
  }
  #feedback .feedback-box h3 {
    font-size: 16px;
    font-weight: 800;
  }
  #feedback .feedback-box span {
    color: var(--muted-text-color);
    font-size: 14px;
  }
}
#hero {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  background: var(--gradient-color);
}
#hero .title {
  grid-area: title;
  text-align: center;
  font-size: 24px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#hero .description {
  text-align: center;
  font-size: 18px;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
#hero .grid {
  grid-template-areas: "title" "content";
}
#hero .br {
  display: inline;
}
#hero .content {
  grid-area: content;
}
#hero #downloads {
  flex-direction: column;
}
#hero .btn-download {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: var(--heading-color);
  border: none;
}
#hero .btn-download:hover {
  background-color: var(--primary-color);
}
#hero .btn-discover-more {
  color: var(--heading-color);
  background-color: var(--white-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
#hero .btn-discover-more:hover {
  background-color: var(--div-border-color);
}
#hero #discover-more {
  color: var(--body-text-color);
  gap: 1.5rem;
  padding: 1rem 0 2rem 0;
}
#hero .images {
  grid-area: images;
  position: relative;
  display: none;
}
#hero .container {
  gap: 2rem;
}

@media (min-width: 768px) {
  #hero .title {
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #hero .description {
    text-align: left;
    line-height: 28px;
  }
  #hero .grid {
    grid-template-columns: 40% 60%;
    grid-template-areas: "title title" "content images";
  }
  #hero .br {
    display: block;
  }
  #hero .btn-download {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #hero .images {
    display: block;
  }
  #hero .images .img-back {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 140px;
    width: 60%;
    height: auto;
  }
  #hero .images .img-front {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    width: 60%;
    height: auto;
  }
  #hero #discover-more {
    justify-content: flex-start;
  }
}
@media (min-width: 1400px) {
  #hero .title {
    font-size: 36px;
    margin-top: 6rem;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
  }
  #hero .description {
    padding-top: 0;
    padding-bottom: 3rem;
  }
  #hero .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title images" "content images";
  }
  #hero .img-back {
    left: 34px;
  }
  #hero #discover-more {
    padding: 12rem 0 4rem 0;
  }
  #hero .btn-download {
    width: auto;
    margin-right: 1rem;
  }
  #hero #downloads {
    flex-direction: row;
    justify-content: flex-start;
  }
}
#how-it-works {
  background-color: var(--background-color);
}
#how-it-works .grid {
  grid-template-columns: 1fr;
}
#how-it-works .desktop-text {
  display: none;
}
#how-it-works .desktop-image {
  display: none;
}
#how-it-works .tablet-image {
  display: none;
}
#how-it-works .mobile-image {
  padding: 2rem 3rem 0 3rem;
}
#how-it-works .description {
  text-align: center;
  padding: 0 1rem 3rem 1rem;
}
#how-it-works .title {
  text-align: center;
  padding-top: 4rem;
  font-size: 18px;
}
#how-it-works h3 {
  text-align: center;
  padding: 2rem 4rem 0.5rem 4rem;
  font-size: 20px;
  font-weight: 800;
}

@media (min-width: 768px) {
  #how-it-works .grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 3rem;
  }
  #how-it-works .title {
    font-size: 22px;
  }
  #how-it-works .description {
    padding-bottom: 5rem;
  }
  #how-it-works .mobile-image {
    padding: 0 0 0 0;
  }
  #how-it-works .tablet-image {
    display: block;
  }
  #how-it-works .container {
    padding: 0 4rem 0 4rem;
  }
  #how-it-works h3 {
    font-size: 22px;
  }
}
@media (min-width: 1400px) {
  #how-it-works .title {
    font-size: 26px;
    padding-top: 5rem;
  }
  #how-it-works .desktop-image {
    display: block;
    padding: 0 3rem 0 3rem;
  }
  #how-it-works .tablet-image,
  #how-it-works .mobile-image {
    display: none;
  }
  #how-it-works .desktop-text {
    display: block;
  }
  #how-it-works .mobile-text {
    display: none;
  }
  #how-it-works .description {
    padding: 0 18rem 6rem 18rem;
  }
  #how-it-works .container {
    padding: 0 2rem 0 2rem;
  }
  #how-it-works h3 {
    font-size: 24px;
  }
}
#learn-more {
  display: none;
}

@media (min-width: 1400px) {
  #learn-more {
    display: block;
  }
  #learn-more .title {
    font-size: 30px;
    padding-bottom: 1.5rem;
  }
  #learn-more .description {
    padding: 1rem 3rem 0 0;
  }
  #learn-more .list {
    list-style: none;
  }
  #learn-more .list .flex {
    justify-content: flex-start;
  }
  #learn-more .list .list-item {
    padding-top: 0.8rem;
  }
  #learn-more .list .checkmark {
    padding-right: 0.5rem;
  }
  #learn-more .grid {
    grid-template-columns: 1fr 1fr;
  }
  #learn-more .container {
    padding: 6rem 8rem 6rem 8rem;
  }
  #learn-more .btn-learn-more {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 14px;
    width: 160px;
    height: 45px;
    border-radius: 6px;
    gap: 0.7rem;
    margin-top: 2.5rem;
  }
  #learn-more .btn-learn-more .fa-arrow-right {
    font-size: 12px;
  }
  #learn-more .btn-learn-more:hover {
    background-color: var(--input-placeholder-color);
  }
}
#newsletter .title {
  font-size: 22px;
  font-weight: 800;
}
#newsletter .newsletter-box {
  background-color: var(--background-color);
  display: grid;
  width: auto;
  height: 250px;
  border-radius: 8px;
  padding: 0 1rem 0 1rem;
}
#newsletter .flex {
  gap: 1rem;
}
#newsletter .grid {
  grid-template-columns: auto 150px 1fr;
  grid-gap: 1rem;
}
#newsletter .part-1 {
  margin-top: 2rem;
}
#newsletter .part-1 span {
  display: none;
}
#newsletter .part-2 {
  background-color: var(--white-color);
  width: auto;
  height: 50px;
  border-radius: 8px;
  padding-left: 1rem;
  margin-top: 1rem;
  border: 1px solid var(--div-border-color);
}
#newsletter .part-2 #email {
  font-size: 16px;
  border: none;
  outline: none;
  width: 16ch;
}
#newsletter .part-2 .fa-envelope {
  color: var(--muted-text-color);
}
#newsletter .part-2 .btn-subscribe {
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  border-radius: 0 8px 8px 0;
}
#newsletter .part-2 input::-moz-placeholder {
  color: var(--input-placeholder-color);
}
#newsletter .part-2 input::placeholder {
  color: var(--input-placeholder-color);
}

@media (min-width: 768px) {
  #newsletter .newsletter-box {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 220px;
    padding: 0 1.5rem 0 1.5rem;
  }
  #newsletter .part-1 {
    margin: 0;
  }
  #newsletter .part-2 {
    margin: 0;
  }
  .container {
    max-width: 720px;
  }
  .btn-toggle-switch .label {
    display: block;
  }
  header .container {
    gap: 2.8rem;
  }
  footer .credit {
    display: block;
  }
}
@media (min-width: 1400px) {
  #newsletter .part-1 {
    margin-left: 5rem;
    gap: 2rem;
  }
  #newsletter .part-1 span {
    display: inline;
  }
  #newsletter .part-2 {
    margin: 0 4rem 0 4rem;
  }
  #newsletter .part-2 #email {
    width: 34ch;
  }
  #newsletter .grid {
    grid-template-columns: auto 300px 1fr;
  }
  .container {
    max-width: 1320px;
  }
  .navbar {
    display: block;
  }
  .btn-mobile {
    display: none;
  }
  header .container {
    grid-template-columns: auto 1fr auto auto;
    gap: 3rem;
  }
  #auth-signin {
    display: block;
  }
  footer {
    padding: 3rem 0 3rem 0;
  }
}/*# sourceMappingURL=main.css.map */