@{
  ViewData["Title"] = "Team Members";
}

<div class="title-div flex">
  <h2>
    @ViewData["Title"]
  </h2>
  <button class="btn btn-blue"><i class="fa-regular fa-plus"></i>Add Member</button>
</div>