<div id="edit-overlay" class="overlay hidden">
  <div class="surface">
    <form action="" class="member-form grid">

      <div class="title flex">
        <h2>Edit Member</h2>
        <button class="btn" type="button" onclick="document.getElementById('edit-overlay').classList.add('hidden')">
          <i class="fa-regular fa-xmark"></i>
        </button>
      </div>

      <button class="image-upload btn">
        <img src="~/images/temp/profile-picture.svg" alt="Border" class="image-upload-border">
        <img src="~/images/edit-icon-gradient.svg" alt="Upload Icon" class="edit-icon">
      </button>

      <div class="flex">
        <div class="grid">
          <label class="input-label">First Name</label>
          <input type="text" placeholder="Enter first name">
        </div>
        
        <div class="grid">
          <label class="input-label">Last Name</label>
          <input type="text" placeholder="Enter last name">
        </div>
      </div>

      <label class="input-label">Email</label>
      <input type="email" placeholder="Enter email">

      <label class="input-label">Phone</label>
      <input type="text" placeholder="Enter phone number">

      <label class="input-label">Job Title</label>
      <input type="text" placeholder="Enter job title">

      <label class="input-label">Address</label>
      <input type="text" placeholder="Enter address">

      <label class="input-label">Date of Birth</label>
      <div class="dob-inputs flex">
        <input type="number" name="day" placeholder="Day" min="1" max="31" />
        <input type="number" name="month" placeholder="Month" min="1" max="12" />
        <input type="number" name="year" placeholder="Year" min="1900" max="2100" />
      </div>            

      <button type="submit" class="btn btn-blue">Save</button>

    </form>
  </div>
</div>