@model Domain.Models.User

<div class="card-menu menu hidden" id="card-menu-@Model.Id">
  <button class="btn flex" onclick="navigateToEdit('@Model.Id')">
    <img src="~/images/edit-icon.svg" alt="Edit Icon" class="invert-when-dark">
    <span>Edit</span>
  </button>

  <div class="horizontal-divider"></div>

  <button class="btn flex">
    <img src="~/images/delete-icon.svg" alt="Delete Icon">
    <span id="delete-text">Delete Member</span>
  </button>
</div>

<script>
  function navigateToEdit(id) {
    if (!id) return;
    window.location.href = `/admin/members/edit/${id}`;
  }
</script>