<div class="notification-menu menu hidden" id="notification-menu">
  <div class="flex">
    <h2>Notifications</h2>
    <div class="notification-counter flex">
      <span>1</span>
    </div>
  </div>

  <div class="horizontal-divider"></div>

  <div class="card-div flex">
    <img src="~/images/temp/notification-icon.svg" alt="">
    <div>
      <h3>ASP.NET Web App added</h3>
      <span>1 min ago</span>
    </div>
    <button class="btn"><i class="fa-regular fa-xmark"></i></button>
  </div>
</div>