<div class="card-menu menu hidden" id="card-menu">
  <button class="btn flex" data-toggle="edit-overlay">
    <img src="~/images/edit-icon.svg" alt="Edit Icon" class="invert-when-dark">
    <span>Edit</span>
  </button>

  <button class="btn flex">
    <img src="~/images/add-member-icon.svg" alt="Add Icon" class="invert-when-dark">
    <span>Add Member</span>
  </button>

  <div class="horizontal-divider"></div>

  <button class="btn flex">
    <img src="~/images/delete-icon.svg" alt="Delete Icon">
    <span id="delete-text">Delete Project</span>
  </button>
</div>