<div class="project-card">
  <div class="card-div flex">
    <img src="~/images/temp/notification-icon.svg" alt="">
    <div class="card-title">
      <h3>Website Redisign</h3>
      <span>GitLab Inc.</span>
    </div>
    <button class="btn" data-toggle="card-menu"><i class="fa-solid fa-circle"></i><i class="fa-solid fa-circle"></i></button>
  </div>

  <p>It is necessary to develop a website redesign in a corporate style.</p>

  <div class="project-card-footer flex">
    <div class="card-timer flex">
      <i class="fa-duotone fa-solid fa-clock"></i>
      <span>1 week left</span>
    </div>
    <div class="flex">
      <img src="~/images/temp/profile-picture.svg" alt="Profile Picture">
      <img src="~/images/temp/profile-picture.svg" alt="Profile Picture">
      <img src="~/images/temp/profile-picture.svg" alt="Profile Picture">
    </div>
  </div>

  @await Html.PartialAsync("Partials/Components/_ProjectCardMenu")
</div>